div.error {
	background-color: rgb(255, 87, 34);
}

show-info-dialog {
	display: inline-block;
}

form {
	display: inline-flex;
	flex-direction: column;
	min-width: 50em;
}

div.border-panel {
	display: inline-block;
	border: 2px solid rgb(63, 81, 181);
	border-radius: 3px;
}

div.border-panel > label {
	display: flex;
	padding: 0.5em;
	background-color: rgb(63, 81, 181);
	color: rgba(255, 255, 255, 0.87);
}

div.border-panel > label .material-icons {
	color: rgba(255, 255, 255, 0.87);
}

div.border-panel > content {
	display: block;
	padding: 0.5em 0.5em 0 0.5em;
}

div.border-panel > content h3 {
	margin-top: 0.8em;
	margin-bottom: 0.3em;
}

div.border-panel > content h3:first-child {
	margin-top: 0.5em;
}

div.border-panel > content p,
div.border-panel > content ul,
div.border-panel > content ol {
	margin-top: 0.5em;
	margin-bottom: 0;
}

div.border-panel > content p:last-child,
div.border-panel > content ul:last-child,
div.border-panel > content ol:last-child {
	margin-bottom: 0.5em;
}

sub {
	font-size: 70%;
}

md-dialog {
	max-width: 70em;
	max-height: 100%;
}

md-dialog.warning {
	max-width: 40em;
}

md-dialog content button.md-button {
	margin: 0;
}

md-dialog-actions {
	border-top: 1px solid lightgrey;
}

md-option .flag {
	font-style: italic;
}

div.layout-gt-sm-row > md-input-container:not(:first-child),
div.layout-gt-sm-row > md-autocomplete:not(:first-child),
div.layout-gt-sm-row > div.border-panel:not(:first-child) {
	margin-left: 10px !important;
}

div.layout-gt-sm-row > div.border-panel {
	margin-top: 1.2em !important;
}

md-progress-circular {
	display: inline-block;
}

/*
Unfortunately breaks the position of drop-down list. See http://stackoverflow.com/questions/42796420/

md-input-container, md-switch {
	margin-top: 2em !important;
	margin-bottom: 0 !important;
}
*/

md-input-container .md-errors-spacer {
	display: none;
}

md-input-container md-checkbox {
	margin-top: 0.5em;
	margin-bottom: 0;
	display: block;
	float: left;
}

md-radio-button {
	margin-bottom: 10px !important;
}

md-switch.leader {
	width: 14em;
}

md-icon {
	vertical-align: bottom;
}

.material-icons {
	color: rgb(63, 81, 181);
}

.size-18 {
	font-size: 18px !important;
	width: 18px !important;
	min-width: 18px !important;
	height: 18px !important;
	min-height: 18px !important;
	margin: 0;
	padding: 0;
}

.size-20 {
	font-size: 20px !important;
	width: 20px !important;
	min-width: 20px !important;
	height: 20px !important;
	min-height: 20px !important;
	margin: 0;
	padding: 0;
}

#simulationChart {
	display: block;
	width: 100%;
	height: 1200px;
}

#ratioChart {
	display: block;
	width: 100%;
	height: 300px;
}
