<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title>Munta – Vehicle expenses calculator</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0,width=device-width" />

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-animate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-aria.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-messages.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.js"></script>
	<!--
		Chart library should support:
		1. mixed types of charts on one chart
		2. numerical values (point/data labels) on stacked bar
		3. custom formatting of values and axes labels
		4. [optional] multiple x-axis

		* Chart.js (http://www.chartjs.org/ http://jtblin.github.io/angular-chart.js/): Can't do (2): requires some extra coding like in http://stackoverflow.com/a/38514516/267197 or https://github.com/chartjs/Chart.js/issues/770
		* Chartist.js (http://gionkunz.github.io/chartist-js/examples.html):            Can't do (1); (2) only with plugin
		* Google Chart (https://developers.google.com/chart/interactive/docs/):         Can't place stacked and non-stacked bar on one combi chart (https://github.com/google/google-visualization-issues/issues/1444); (2) requires some voodoo with ng-google-chart (https://github.com/angular-google-chart/angular-google-chart/issues/306)
		* Highcharts (http://www.highcharts.com/demo/):                                 Can do (1)-(3)
	-->
	<script src="//code.highcharts.com/6.2/highcharts.js"></script>
	<script src="//code.highcharts.com/6.2/modules/exporting.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts-ng/1.0.1/highcharts-ng.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-hotkeys/1.7.0/hotkeys.min.js"></script>
	<script src="app.js"></script>
	<script src="chart.js"></script>
	<script src="presets.js"></script>

	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.css" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons" /> <!-- Material icons demo: https://material.io/icons/ -->
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/angular-hotkeys/1.7.0/hotkeys.css" />
	<link rel="stylesheet" type="text/css" href="app.css" />
	<link rel="author" href="https://gitlab.com/dma_k/munta" />
	<link rel="license" href="https://gitlab.com/dma_k/munta/blob/master/LICENSE.txt" />
</head>
<body ng-app="MuntaBootstrap">
	<div ng-controller="MuntaInputController" layout-padding>
		<div class="error" ng-if="model.message != null">
			Error: {{model.message}}
		</div>
		<div ng-if="angular.isUndefined(model.message)">
			Loading data... <md-progress-circular class="md-hue-2" md-diameter="20em" />
		</div>
		<div ng-if="model.message === null">
			<form name="infoForm">
				<md-input-container>
					<label>Presets to buy a vehicle:</label>
					<md-select ng-model="model.presetProperty" ng-change="onPresetChange('property', model.presetProperty); model.presetLeasing = null">
						<md-option ng-repeat="item in config.presets['property']" ng-value="item">{{item.title}} (<span ng-if="item.secondHand" class="flag">{{item.year}} [U]</span><span ng-if="!item.secondHand">{{item.year}}</span>, {{item.fuelType}}, {{item.fuelVolumesPerHundred}} {{getFuelUnitByType(item.fuelType)}}/km, {{item.coEmission}} g/km, {{item.enginePower}} hp) – {{item.price | euroCurrency}}</md-option>
					</md-select>
				</md-input-container>
				<br/>
				<md-input-container>
					<label>Presets to lease a vehicle:</label>
					<md-select ng-model="model.presetLeasing" ng-change="onPresetChange('leasing', model.presetLeasing); model.presetProperty = null">
						<md-option ng-repeat="item in config.presets['leasing']" ng-value="item">{{item.title}} ({{item.year}}, {{item.fuelType}}, {{item.fuelVolumesPerHundred}} {{getFuelUnitByType(item.fuelType)}}/km, {{item.coEmission}} g/km, {{item.enginePower}} hp, <span class="flag">{{item.privateLeasing ? '[P]' : '[B]'}}</span>) – {{item.price | euroCurrency}}</md-option>
					</md-select>
				</md-input-container>
				<div layout-gt-sm="row">
					<div class="border-panel">
						<label>Owner/consumer</label>
						<content>
							<md-radio-group ng-model="model.owner" class="md-primary">
								<md-radio-button value="private">
									<label>Private</label>
									<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">The vehicle's owner is an individual.</md-tooltip>
								</md-radio-button>
								<md-radio-button value="business">
									<label>Business</label>
									<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">The vehicle's owner is a company or a business entity.</md-tooltip>
								</md-radio-button>
							</md-radio-group>
						</content>
					</div>
					<div class="border-panel">
						<label>Type of ownership</label>
						<content>
							<md-radio-group ng-model="model.ownership" class="md-primary">
								<md-radio-button value="property">
									<label>Property</label>
									<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">The vehicle is owed by an individual or a company.</md-tooltip>
								</md-radio-button>
								<md-radio-button value="leasing">
									<label>Leasing</label>
									<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">The vehicle is rented by an individual or a company and returned at the end of leasing period.</md-tooltip>
								</md-radio-button>
							</md-radio-group>
						</content>
					</div>
					<show-info-dialog dialog-id="infoOwnership" />
				</div>

				<div layout-gt-sm="row">
					<md-input-container ng-if="model.ownership == 'property'">
						<label>Vehicle price</label>
						<input ng-model="model.initialPrice" placeholder="10000" required integer ng-pattern="/^[1-9]\d{0,6}$/" />
						<md-checkbox ng-if="model.ownership == 'property' && model.owner == 'business'" ng-model="model.initialPriceWithTaxes" class="md-primary">Includes <a href="https://en.wikipedia.org/wiki/Value-added_tax"><abbr title="Value-added tax">VAT</abbr></a> ({{config.vatTax}}%)<span ng-if="model.addTaxes"> and <a href="https://nl.wikipedia.org/wiki/Belasting_van_personenauto's_en_motorrijwielen"><abbr title="Belasting van personenauto's en motorrijwielen">Vehicle registration tax (BPM)</abbr></a></span></md-checkbox>
						<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Initial price of the vehicle. Business entity may return VAT (VAT is deducted from initial price).</md-tooltip>
					</md-input-container>
					<md-input-container ng-if="model.ownership == 'leasing'">
						<label>Leasing fee per month</label>
						<input ng-model="model.leasingPrice" placeholder="300" required integer ng-pattern="/^[1-9]\d{0,5}$/" />
						<md-checkbox ng-model="model.operationalLeasing" class="md-primary">Full operational leasing</md-checkbox>
						<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Leasing fee includes insurance and operational costs. Uncheck this box in case of netto operational leasing.</md-tooltip>
					</md-input-container>
					<md-input-container>
						<label>Fuel type</label>
						<md-select ng-model="model.fuelType" ng-change="onFuelTypeChange()" required>
							<md-option ng-repeat="item in config.fuelTypes" ng-value="item.value">{{item.label}}</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout-gt-sm="row" ng-if="model.ownership == 'property'">
					<md-input-container>
						<label>Initial price decrease in %</label>
						<input ng-model="model.initialPriceDecrease" required integer ng-pattern="/^\d{1,2}$/" />
					</md-input-container>
					<md-input-container>
						<label>Annual price decrease in %</label>
						<input ng-model="model.annualPriceDecrease" required integer ng-pattern="/^[1-9]\d?$/" />
					</md-input-container>
					<show-info-dialog dialog-id="infoCarDepreciation" />
				</div>

				<div layout-gt-sm="row" ng-if="model.addFuelCosts || isEnabled('addTaxes') || (isEnabled('addOperationalCosts') && model.owner == 'business')">
					<md-input-container>
						<label>Total kilometers per year</label>
						<input ng-model="model.kilometersPerYear" required integer ng-pattern="/^[1-9]\d{0,5}$/" />
						<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Total number of kilometers (private + business) driven during the year.</md-tooltip>
					</md-input-container>
					<md-input-container ng-if="model.owner == 'business' || (isEnabled('addTaxes') && model.owner == 'private' && model.ownership == 'property')">
						<label>Business kilometers per year</label>
						<input ng-model="model.businessKilometersPerYear" integer ng-pattern="/^[1-9]\d{0,5}$/" />
						<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Kilometers driven for business. Business entity may return <a href="https://en.wikipedia.org/wiki/Value-added_tax"><abbr title="Value-added tax">VAT</abbr></a> proportional to business/private ratio. Individual may deduct {{config.commuteTaxDeductionPerKm | euroCurrency}} per km from taxable income.</md-tooltip>
					</md-input-container>
				</div>

				<div layout-gt-sm="row">
					<md-switch ng-model="model.addFuelCosts" class="md-primary leader">Add fuel costs</md-switch>
					<md-autocomplete ng-if="model.addFuelCosts" md-search-text="model.fuelPricePerVolume" md-selected-item="model.fuelPricePerVolumeItem" md-items="item in config.fuelTypes" md-item-text="config.fuelPrices[item.value].toString()" md-floating-label="{{getFuelLabelByType(model.fuelType)}} price per {{getFuelUnitByType(model.fuelType, true)}}" md-clear-button="true" md-min-length="0" ng-pattern="/^([1-9]\d?|\d{0,2}\.\d{1,6})$/">
						<md-item-template>
							<span md-highlight-text="ctrl.searchText">{{item.label}}: {{config.fuelPrices[item.value] | euroCurrency}}</span>
						</md-item-template>
					</md-autocomplete>
					<md-input-container ng-if="model.addFuelCosts">
						<label>Litres/kWh per hundred km</label>
						<input ng-model="model.fuelVolumesPerHundred" required float ng-pattern="/^([1-9]\d?|\d{0,2}\.\d{1,3})$/" />
					</md-input-container>
				</div>
				<div layout-gt-sm="row" ng-if="model.ownership == 'property' || !model.operationalLeasing">
					<md-switch id="addOperationalCosts" ng-model="model.addOperationalCosts" class="md-primary leader">Add operational costs</md-switch>
					<md-autocomplete ng-if="model.addOperationalCosts" md-search-text="model.insuranceCosts" md-items="item in filterItemsByValue(config.insuranceTypes, model.insuranceCosts)" md-item-text="item.value.toString()" md-floating-label="Insurance per month" md-clear-button="true" md-min-length="0" ng-pattern="/^[1-9]\d{0,2}$/">
						<md-item-template>
							<span md-highlight-text="ctrl.searchText">{{item.value | euroCurrency}} ({{item.label}})</span>
						</md-item-template>
					</md-autocomplete>
					<md-input-container ng-if="model.addOperationalCosts">
						<label>Operational costs per year</label>
						<input ng-model="model.operationalCosts" integer ng-pattern="/^\d{1,4}$/" />
					</md-input-container>
					<show-info-dialog dialog-id="infoOperationalCosts" ng-if="model.addOperationalCosts" />
				</div>
				<div layout-gt-sm="row" ng-if="model.ownership == 'property' || model.owner == 'business'">
					<md-switch id="addTaxes" ng-model="model.addTaxes" class="md-primary leader">Add taxes</md-switch>
					<span ng-if="model.addTaxes">
						<span ng-if="model.ownership == 'property'">
							<md-input-container>
								<label>CO<sub>2</sub> emission g/km</label>
								<input ng-model="model.coEmission" integer ng-pattern="/^\d{0,5}$/" />
								<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Set to zero if the vehicle is pure electric vehicle.</md-tooltip>
							</md-input-container>
							<md-input-container>
								<label>Vehicle weight</label>
								<md-select ng-model="model.weight">
									<md-option ng-repeat="item in config.weights" ng-value="item.value">{{item.label}}</md-option>
								</md-select>
							</md-input-container>
							<md-input-container>
								<label>Province in the Netherlands</label>
								<md-select ng-model="model.province">
									<md-option ng-repeat="item in config.provinces" ng-value="item.value">{{item.label}}</md-option>
								</md-select>
								<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Address / location of the vehicle's owner.</md-tooltip>
							</md-input-container>
						</span>
						<span ng-if="model.owner == 'business'">
							<md-input-container>
								<label>Vehicle registration year</label>
								<md-select ng-model="model.registrationYear" required>
									<md-option ng-repeat="item in config.years" ng-value="item.value">{{item.label}}</md-option>
								</md-select>
								<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Year when vehicle plates are given the first time.</md-tooltip>
							</md-input-container>
							<md-input-container>
								<label>Vehicle catalogue price</label>
								<input ng-model="model.cataloguePrice" required integer ng-pattern="/^[1-9]\d{0,5}$/" placeholder="{{model.initialPrice}}" />
								<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Leave empty if given above initial vehicle price is the price of the new vehicle as to official dealer's catalogue (normally retail price is higher).</md-tooltip>
							</md-input-container>
						</span>
						<show-info-dialog dialog-id="infoTax" init="chartManager.initRatioChart(config, model)" />
					</span>
				</div>

				<div layout-gt-sm="row">
					<md-autocomplete md-search-text="model.taxBox" md-items="item in filterItemsByValue(config.taxBoxes, model.taxBox)" md-item-text="item.value.toString()" md-floating-label="Income tax in %" md-clear-button="true" md-min-length="0" required ng-pattern="/^([1-9]\d?|\d{0,2}\.\d{1,2})$/">
						<md-item-template>
							<span md-highlight-text="ctrl.searchText">{{item.value}}% ({{item.label}})</span>
						</md-item-template>
					</md-autocomplete>
					<div layout layout-align="center center">
						<span>Number of simulation years:</span>
						<md-slider ng-model="model.simulationYears" step="1" min="2" max="10" md-discrete aria-label="rating" class="md-primary" />
					</div>
				</div>

				<!-- Highlighted hotkeys are defined in app.js, search for hotkeys.add() function call. -->
				<div layout-gt-sm="row">
					<md-button ng-click="addSimulation($event)" ng-disabled="infoForm.$invalid" type="submit" class="md-raised md-primary">
						<u>A</u>dd
						<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Add new simulation to existing graph.</md-tooltip>
					</md-button>
					<md-button ng-click="startNewSimulation($event)" ng-disabled="infoForm.$invalid" type="submit" class="md-raised">
						<u>S</u>tart new
						<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Cleanup graph and start new simulation.</md-tooltip>
					</md-button>
					<span flex></span>
					<md-button ng-click="utilityService.showDialog('aboutApplication', $event)" class="md-raised">
						A<u>b</u>out
						<md-tooltip md-direction="bottom" md-delay="config.tooltipDelay">Show application information.</md-tooltip>
					</md-button>
				</div>
			</form>

			<highchart id="simulationChart" config="chartManager.simulationChart" ng-if="chartManager.simulationChart.series.length"></highchart>

			<info-dialog dialog-id="infoCarDepreciation" title="Vehicle Depreciation Information">
				<p>To check the current left-over price of the auto by it's plate number visit <a href="https://www.anwb.nl/auto/koerslijst#/koerslijst">dagwaarde en de meeneemprijs van een auto</a>.</p>
				<ul>
					<li><a href="https://auto-en-vervoer.infonu.nl/auto/33471-autokosten-en-afschrijving-waarde-na-plusminus-4-jaar.html">Autokosten en afschrijving - Waarde na plusminus 4 jaar.</a></li>
					<li><a href="https://www.edmunds.com/car-buying/how-fast-does-my-new-car-lose-value-infographic.html">During the 1st 5 years the vehicle looses 15-25% of its value each year.</a></li>
					<li><a href="http://www.forbes.com/2010/10/27/cars-resale-value-lifestyle-vehicles-depreciation-residual-used.html">New vehicles typically loose about 20% of their value the moment they’re driven off the lot, and about 65% after five years.</a></li>
					<li><a href="https://www.trustedchoice.com/insurance-articles/wheels-wings-motors/car-depreciation/">Driving the vehicle for the 1st time decreases its value for 11%. And after one year the value is decreased by 25%.</a></li>
				</ul>
			</info-dialog>
			<info-dialog dialog-id="infoOwnership" title="Ownership Information">
				<h3>Leasing</h3>
				<ul>
					<li><a href="https://www.autoleasemiddennederland.nl/leasevormen/full-operational-lease/"><em>Full operational leasing</em></a> includes all costs except the fuel costs.</li>
					<li><a href="https://www.autoleasemiddennederland.nl/leasevormen/netto-operational-lease/"><em>Netto operational leasing</em></a> is excluding insurance and maintenance costs.</li>
					<li>The last is similar to, but should not be mixed with <a href="https://en.wikipedia.org/wiki/Finance_lease"><em>financial lease</em></a>, when the ownership is passed to the leasee at the end of the lease term. This type of leasing is not supported.</li>
				</ul>
				<p>See also <a href="http://www.lease-auto.nu/verschil-private-lease-en-operational-lease/">Verschil tussen private lease en operational lease</a> and <a href="https://nationaleautolease.nl/wat-is-het-verschil-tussen-operational-en-financial-lease/">Wat is het verschil tussen operational en financial lease</a>.</p>
			</info-dialog>
			<info-dialog dialog-id="infoOperationalCosts" title="Operational Costs Information">
				<h3>Insurance</h3>
				<p><abbr title="Wettelijke Aansprakelijkheidsverzekering">WA</abbr> = obligatory insurance</p>
				<p>To choose the insurance provider check:</p>
				<ul>
					<li><a href="http://www.auto-verzekeringenvergelijken.nl/autoverzekering-vergelijken/">Autoverzekering vergelijken</a></li>
					<li><a href="https://www.independer.nl/autoverzekering/">Independer</a></li>
					<li><a href="https://www.pricewise.nl/autoverzekering/autoverzekering-vergelijken/">Pricewise</a></li>
				</ul>
				<p><a href="https://www.goedkopeautoverzekering.nl/blog/autoverzekering-voor-eenmanszaak-prive-of-zakelijk">Self-employed entrepreneur is allowed to insure the vehicle for personal name and private use.</a> <a href="https://www.independer.nl/autoverzekering/info/zakelijk.aspx">Special cases for business use of the auto require business insurance</a>, for example: taxi, delivery services, driving school vehicle, a garage or lease company (vehicle is used temporary by a 3rd person). Check <a href="https://weblog.independer.nl/autoverzekeringen/zakelijke-autoverzekering-afsluiten/">Zakelijke autoverzekering: wat is dat en hoe sluit ik die af?</a> for the list of insurance companies that provide business insurances.</p>
				<h3>Maintenance / operational costs</h3>
				<ul>
					<li>Technical check (<a href="https://nl.wikipedia.org/wiki/Algemene_periodieke_keuring"><abbr title="Algemene periodieke keuring">APK</abbr></a>)</li>
					<li>Minor/major technical inspection (<a href="https://nl.wikipedia.org/wiki/Onderhoudsbeurt">klein  / groot onderhoud</a>)</li>
					<li>Repair</li>
					<li>Winter bands / changing</li>
					<li>Car wash</li>
					<li>Mats / de-icer liquid / ice scraper</li>
				</ul>
				<p><a href="http://www.vincentric.com/Portals/0/Market%20Analyses/2014%20Hybrid%20Analysis/Vincentric%20Hybrid%20Analysis_October%202014.pdf">Vincentric performed analysis</a> comparing the total cost of ownership of 2014 model year hybrid vehicles vs. their all-gas counterparts. This analysis uses data from August 2014 with results based on 15,000 miles per year over 5 years.</p>
				<p>Note that Toyota's battery warranty is 8-year/100.000km, see <a href="http://www.greencarreports.com/news/1078138_toyota-hybrid-battery-replacement-cost-guide">here</a>. Replacement will cost {{2500 | euroCurrency}} + work.</p>
			</info-dialog>
			<info-dialog dialog-id="infoTax" title="Tax Information">
				<h3>CO<sub>2</sub> emission</h3>
				<p>To find out what is the emission of your vehicle check <a href="http://www.fleetnews.co.uk/cars/co2-emissions-calculator/">Car CO<sub>2</sub> calculator</a>.</p>
				<p>Vehicles with low emission (≤{{config.coEmissionReducedTax}} g/km) have reduced <a href="https://nl.wikipedia.org/wiki/Belasting_van_personenauto%27s_en_motorrijwielen">Vehicle registration tax</a> and <a href="https://nl.wikipedia.org/wiki/Priv%C3%A9gebruik_auto#In_de_inkomstenbelasting">Private use tax</a>, check <a href="https://www.belastingdienst.nl/rekenhulpen/motorrijtuigenbelasting/">motorrijtuigenbelasting</a>.</p>
				<h3>Vehicle weight</h3>
				<p>This is the weight of the empty vehicle (so-called <em>ledig voertuig massa</em>).</p>
				<h3>Catalogue price (<em>fiscale waarde</em>)</h3>
				<p>The vehicle price should be inclusive <a href="https://en.wikipedia.org/wiki/Value-added_tax"><abbr title="Value-added tax">VAT</abbr></a> ({{config.vatTax}}%) and <a href="https://nl.wikipedia.org/wiki/Belasting_van_personenauto's_en_motorrijwielen"><abbr title="Belasting van personenauto's en motorrijwielen">Vehicle registration tax (BPM)</abbr></a> and price of all accessories, but exclusive registration / handling / recycling fee (so-called <a href="https://www.anwb.nl/auto/kopen/kosten-rijklaar-maken"><em>rijklaar maken kosten</em></a>), see <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/privegebruik_auto/waarde_van_de_auto">waarde van de auto</a>.</p>
				<p>Use <a href="https://ovi.rdw.nl/">RDW</a> site to learn the original catalogue price.</p>
				<h3><a href="https://en.wikipedia.org/wiki/Value-added_tax"><abbr title="Value-added tax">VAT</abbr></a> return</h3>
				<ul>
					<li>Initial price of the vehicle</li>
					<li>Fuel price proportional to private/business use (see <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/btw/btw_aftrekken/btw_en_de_auto/zakelijk_gebruik_van_de_priveauto/voorbeeld_zakelijk_gebruik_priveauto_met_kilometeradministratie">Voorbeeld zakelijk gebruik privéauto met kilometeradministratie</a>)</li>
					<li>Maintenance / reparation proportional to private/business use</li>
				</ul>
				<p>The proportion is calculated based on private/business kilometers driven based on the distance from <a href="https://www.anwb.nl/verkeer/routeplanner/kilometers-berekenen">ANWB site</a> (requires kilometer administration / recording).</p>
				<p>Alternatively one may choose not to keep kilometer administration and pay {{config.fixedVatCorrectionRate | float}}% from catalogue price (or {{config.fixedVatCorrectionReducedRate | float}}% after {{config.fixedVatCorrectionReducedYear}} years of use), see <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/btw/btw_aftrekken/btw_en_de_auto/privegebruik_auto_van_de_zaak/">Privégebruik auto van de zaak</a> and <a href="https://regelhulpenvoorbedrijven.nl/btwprivegebruikauto/">Berekening btw over privegebruik auto</a>.</p>
				<!-- The expression in braces will never be evaluated to boolean because the (&&) operator will return the last evaluated expression within the condition (value), hence double not is used to convert it to boolean, see https://www.bennadel.com/blog/2789-be-careful-with-compound-conditions-in-angularjs-and-javascript-in-general.htm -->
				<div ng-switch="!!(model.owner == 'business' && model.cataloguePrice)">
					<p ng-switch-when="true">On below chart the coloured area is where proportional VAT correction is more profitable and the area above the line is where fixed (e.g. {{config.fixedVatCorrectionRate | float}}%) VAT correction is more profitable.
					<highchart id="ratioChart" config="chartManager.ratioChart" ng-if="chartManager.ratioChart.series.length"></highchart>
					</p>
					<p ng-switch-default><md-icon class="material-icons size-20 md-primary">warning</md-icon> To view the private/business ratio for the given vehicle switch to business and enter catalogue price.</p>
				</div>
				<h3><a href="https://en.wikipedia.org/wiki/Depreciation">Depreciation value</a></h3>
				<p>The difference between initial price and current market price (but not more than 20%) can be deducted, see <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/afschrijving/hoe_berekent_u_het_bedrag_van_de_afschrijving">Hoe berekent u het bedrag van de afschrijving</a>. That also means that auto can be deducted not faster than in {{config.depreciationYears}} years.</p>
				<h3><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/veranderingen-inkomstenbelasting-2019/bijtelling-privegebruik-auto-2019">Private use tax</a></h3>
				<p>If you drive not more than {{config.privateUseTaxMaxKm}} km per year for private use (the difference between total and business kilometers should be ≤{{config.privateUseTaxMaxKm}}) then this tax is not paid, however the company has to file "Exclusively commercial use declaration" (<a href="https://belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/privegebruik_auto/uitsluitend_zakelijk_gebruik_bestelauto/verklaring_uitsluitend_zakelijk_gebruik_bestelauto_indienen">Verklaring uitsluitend zakelijk gebruik bestelauto</a>) so that tax office is aware about that.</p>
				<h3>Tax deductions</h3>
				<p>Electrical vehicles are subject for <a href="https://www.rvo.nl/subsidies-regelingen/mia-en-vamil/sectoren/elektrisch-rijden">Environmental Investment Allowance (<abbr title="Milieu-investeringsaftrek">MIA</abbr>)</a>. See also <a href="https://www.tesla.com/nl_NL/support/incentives">Fiscale voordelen voor voertuigen</a> for complete list of benefits.</p>
				<h3>Auto amortization</h3>
				<p>See <a href="https://www.belastingdienst.nl/bibliotheek/handboeken/html/boeken/FISIN2016/fiscale_informatie_2016-winst_en_verliesrekening_en_balans.html#fckpeoekgn">Winst-en-verliesrekening en balans → Afschrijvingen</a></p>
			</info-dialog>
			<info-dialog dialog-id="aboutApplication" title="Application Information">
				<h3>General</h3>
				<p><b>Application version</b>: {{config.applicationVersion}}</p>
				<p><b>Help / source code / issue tracker</b>: <a href="https://gitlab.com/dma_k/munta">GitHub</a></p>
				<h3>Tax data info</h3>
				<p><b>Vehicle taxes date</b>: {{config.vehicleTaxesDate | date:'yyyy-MM-dd'}} <md-icon class="material-icons size-20 md-primary">{{config.vehicleTaxesDate.getFullYear() >= chartManager.currentYear ? 'check box' : 'warning'}}</md-icon></p>
				<p><b>Private use taxes date</b>: {{config.privateUseTaxesDate | date:'yyyy'}} <md-icon class="material-icons size-20 md-primary">{{config.privateUseTaxesDate.getFullYear() >= chartManager.currentYear ? 'check box' : 'warning'}}</md-icon></p>
				<p><b>BPM taxes date</b>: {{config.registrationTaxes[config.registrationTaxes.length - 1].year}} <md-icon class="material-icons size-20 md-primary">{{config.registrationTaxes[config.registrationTaxes.length - 1].year >= chartManager.currentYear ? 'check box' : 'warning'}}</md-icon></p>
			</info-dialog>
			<warning-dialog dialog-id="warningAddPrivate">
				<p>You're trying to add private expenses to chart with business expenses. Newly added private expenses will automatically be converted to brutto using specified tax box ({{model.taxBox}}%). Press <md-button ng-disabled="true" class="md-raised">Cancel</md-button> if you don't want this (press <md-button ng-disabled="true" class="md-raised">Start new</md-button> to get new calculation afterwards).</p>
			</warning-dialog>
			<warning-dialog dialog-id="warningAddBusiness">
				<p>You're trying to add business expenses to chart with private expenses. Already added private expenses will automatically be converted to brutto using specified tax box ({{model.taxBox}}%). Press <md-button ng-disabled="true" class="md-raised">Cancel</md-button> if you don't want this (press <md-button ng-disabled="true" class="md-raised">Start new</md-button> to get new calculation afterwards).</p>
			</warning-dialog>
		</div>

		<script type="text/ng-template" id="showInfoDialogTemplate">
			<md-input-container>
				<md-button ng-click="$ctrl.showDialog($ctrl.dialogId, $ctrl.init, $event)" class="md-fab size-18 md-primary" aria-label="Show info">
					<md-icon class="material-icons size-18 md-primary">info_outline</md-icon>
					<md-tooltip>Show info</md-tooltip>
				</md-button>
			</md-input-container>
		</script>
		<script type="text/ng-template" id="infoDialogTemplate">
			<div style="visibility: hidden">
				<div class="md-dialog-container" id="{{$ctrl.dialogId}}">
					<md-dialog>
						<div class="border-panel">
							<label>
								<md-icon class="material-icons size-20">info_outline</md-icon>
								<span style="margin-left: 5px;">{{$ctrl.title}}</span>
								<span flex></span>
								<md-button class="md-fab md-primary size-18" ng-click="$ctrl.close()" aria-label="Close dialog">
									<md-icon class="material-icons size-18">close</md-icon>
								</md-button>
							</label>
							<content>
							</content>
							<md-dialog-actions layout="row">
								<md-button ng-click="$ctrl.close()" class="md-raised md-primary">Close</md-button>
							</md-dialog-actions>
						</div>
					</md-dialog>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="warningDialogTemplate">
			<div style="visibility: hidden">
				<div class="md-dialog-container" id="{{$ctrl.dialogId}}">
					<md-dialog class="warning">
						<div class="border-panel">
							<label>
								<md-icon class="material-icons size-20">error_outline</md-icon>
								<span style="margin-left: 5px;">Warning</span>
								<span flex></span>
								<md-button class="md-fab md-primary size-18" ng-click="$ctrl.cancel()" aria-label="Close dialog">
									<md-icon class="material-icons size-18">close</md-icon>
								</md-button>
							</label>
							<content>
							</content>
							<md-dialog-actions layout="row">
								<md-button ng-click="$ctrl.confirm()" class="md-raised md-primary">Proceed</md-button>
								<md-button ng-click="$ctrl.cancel()" class="md-raised">Cancel</md-button>
							</md-dialog-actions>
						</div>
					</md-dialog>
				</div>
			</div>
		</script>
	</div>
</body>
</html>
<!-- 

http://www.aldautomotive.nl/lease-en-mobiliteit/overige-diensten/auto-zakelijk-of-prive
http://www.lease-auto.nu/verschil-private-lease-en-operational-lease/
http://www.dezaak.nl/2089/autokostenberekenaar-2011.htm
http://www.dezaak.nl/1721/de-auto-en-de-omzetbelasting.htm
https://www.zzp-nederland.nl/kennisbank/auto-prive-of-zakelijk
https://www.zzp-nederland.nl/kennisbank/auto-van-bedrijf-kosten
http://www.leasecarxchange.nl/
https://www.tesla.com/en_EU/bijtelling?redirect=no

Leasemaatschappijen werken niet met een bonus-malussysteem, dus je bouwt geen no-claimkorting op.

Auto’s ouder dan 15 jaar

Voor auto’s die ouder zijn dan 15 jaar geldt een andere regeling: de werkelijke waarde die geldt in het economische verkeer (dagwaarde) is dan het uitgangspunt voor de bijtelling in plaats van de nieuwwaarde. Voor de berekening is het percentage 35% van de dagwaarde.

Vanaf 1 juli 2011 worden bij de btw-berekening ook de kilometers voor woon- werkverkeer als privékilometers beschouwd.

-->